In [42]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import numpy as np
# Import the API key.
from config import g_key
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [84]:
# Store the CSV you saved created in part one into a DataFrame.
weather_data_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
weather_data_df.head()

,City_ID,City,Country,Current Description,Max Temp,Lat,Lng,Hotel Name
0,18,Hobart,AU,light intensity shower rain,53.60,-42.88,147.33,St Ives Apartments
1,28,Ko Samui,TH,moderate rain,83.46,9.54,99.94,"The Passage Samui Villas & Resort, Thailand"
2,33,Shimoda,JP,heavy intensity rain,63.00,34.67,138.95,Shimoda Tokyu Hotel
3,39,Hamilton,US,light rain,75.00,39.18,-84.53,Six Acres Bed & Breakfast
4,49,Hirara,JP,light rain,83.64,24.80,125.28,Hotel Atoll Emerald Miyakojima

In [101]:
##choose 4 cities close to each other that you can create an itinerary off of
cities = ['Rapid Valley','Hamilton','Albany','Saint-Michel-Des-Saints']


my_itinerary = weather_data_df.loc[weather_data_df['City'].isin(cities)]
my_itinerary = my_itinerary.set_index('City')

my_itinerary = my_itinerary.loc[cities,:]

my_itinerary = my_itinerary.reset_index()
my_itinerary

,City,City_ID,Country,Current Description,Max Temp,Lat,Lng,Hotel Name
0,Rapid Valley,532,US,light rain,77.00,44.06,-103.15,Fairfield Inn & Suites by Marriott Rapid City
1,Hamilton,39,US,light rain,75.00,39.18,-84.53,Six Acres Bed & Breakfast
2,Albany,57,US,light rain,91.99,42.60,-73.97,NaN
3,Saint-Michel-Des-Saints,207,CA,light rain,87.01,46.68,-73.92,Motel Du Mont trinity

In [110]:
#Grab Lat/long coords for the 4 cities. NOTE. the order that we put them into the list is the order we'll travel. 
City1 = (my_itinerary['Lat'].iloc[0],my_itinerary['Lng'].iloc[0])
City2 = (my_itinerary['Lat'].iloc[1],my_itinerary['Lng'].iloc[1])
City3 = (my_itinerary['Lat'].iloc[2],my_itinerary['Lng'].iloc[2])
City4 = (my_itinerary['Lat'].iloc[3],my_itinerary['Lng'].iloc[3])

In [116]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in my_itinerary.iterrows()]

In [122]:
locations = my_itinerary[['Lat','Lng']]

fig = gmaps.figure()
itinerary_travel1 = gmaps.directions_layer(City1,City4,waypoints = [City2,City3],show_markers = False)
marker_layer = gmaps.marker_layer(locations,label = ['1','2','3','4'], info_box_content=hotel_info)
fig.add_layer(itinerary_travel1)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))